# macOS
.DS_Store

# Ignore generated database files
embeddings.joblib

# PyCharm
.idea/

# Python
__pycache__/
*.pyc
#Unused Files for trials
/unused

# Generated output
output.json
jsons/
# Large media files
audios/
videos/
*.mp3
*.webm

#Ignore zip archive and Generated txt files
jsons.zip
prompt.txt
